/*------------------------INDEX--------------------*/
.star{      /*para las estrellas*/
    color: #ffff00;
    font-size: 25px;
}

.star1{
    color:rgb(185, 185, 185);
    font-size: 25px;
}

/*-------------------contenido---------------------------*/