/*------------------------INDEX--------------------*/
.star{      /*para las estrellas*/
    color: #ffff00;
    font-size: 25px;
}

.star1{
    color:rgb(185, 185, 185);
    font-size: 25px;
}

/*---------------- Buscar ruta ---------------------------*/

#foto{
    width: 230px;
    max-height: 200px;
    border: 2px solid #1c6ab9;
    border-radius: 50%;
}


.resultado{

    align-items: center;
}

.btnreserva{
    width: 200px;
    height: 100px;
    margin-top: 10px;
}

/*---------------- temrinos y condiciones Star ----------------*/
.vertical
{
    /*border: 2px solid #ffff00;*/
    height: 400px;
    overflow-y: scroll;
}